.heroDiv {
  color: white;
  opacity: 1;
  position: absolute;
  top: 40%;
  font-size: 1.6rem;
  /* background-color:rgba(0, 0, 0, 0.349); */
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-shadow: 3px 3px 10px rgba(255, 14, 14, 0.938);
}

.socialMediaDiv {
  display: grid;
  width: 100vw;
  height: 10vh;
  align-self: end;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  margin-bottom: 10px;
}

.instagramDiv,
.xDiv {
  fill: white;
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: center;
}

.instagramSVG,
.instagram,
.xSVG,
.x {
  cursor: pointer;
}

.instagramSVG,
.xSVG {
  width: 40px;
}

.instagram,
.x {
  font-size: 1.3rem;
}

@media (max-width: 1200px){

}


@media (max-width: 768px){
  .heroDiv{
    font-size: 1.2rem;
  }
  .instagramSVG,
  .xSVG {
    width: 30px;
  }

}

@media (max-width: 490px){
  .heroDiv{
    font-size: 1rem;
  }
}