@import url('https://fonts.googleapis.com/css2?family=Sawarabi+Mincho&display=swap');

#content {
  position: relative;
  background-size: cover;
  background-position: 0% 55%;
  display: flex;
}

#content::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../assets/images/izakaya.jpg);
  background-size: cover;
  background-position: 100% 30%;
  opacity: 0.85;
  z-index: -1;
}

.heroDiv{
  color: #ffffff;
  opacity: 1;
  position: absolute;
  top: 32%;
  font-size: 1.5rem;
  background-color:rgba(0, 0, 0, 0.349);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

